[MQTT]
MQTT_HOST = IP_MQTT_HOST
MQTT_PORT = MQTT_PORT
MQTT_USERNAME = MQTT_USERNAME
MQTT_PASSWORD = MQTT_PASSWORD
MQTT_TOPIC_SNAPSHOT = MQTT_TOPIC_SNAPSHOT
MQTT_TOPIC_MOTION = MQTT_TOPIC_MOTION

[GENERAL]
MESSAGE_MOTION = True
PICTURE_MOTION = True
VIDEO_MOTION = True

[OSFS]
CAMERA_FOLDER = CAMERA_FOLDER

[SAMBA]
SAMBA = True
SMB_HOST = SMB_HOST
SMB_USERNAME = SMB_USERNAME
SMB_PASSWD = SMB_PASSWD
SMB_PORT = SMB_PORT
SMB_NAME_PORT = SMB_NAME_PORT
SMB_DIRECT_TCP = False
SMB_SHARE = SMB_SHARE
SMB_FOLDER = SMB_FOLDER